<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Menu Nagusia</title>
    </head>

    <body>
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/farmaciapp/">FARMACIAPP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/farmaciapp/">Hasiera</a></li>
                <li><a href="/farmaciapp/logout/">Sesioa itxi</a><br/></li>
            </ul>
        </div>
        </div></div>


        <div class="container-fluid">
        <div class="row">
         <div class="col-sm-3 col-md-2 sidebar">
        <h3>Erabiltzailea: {{ user.username }}</h3>
        <br/><h4>Zerbitzua: {{mota}}</h4>
        <a href="/farmaciapp/aukera_menua/ensaio_kontsulta/">Ensaioak Kontsultatu</a><br/>
        <a href="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">Errezeta Pendienteak Kontsultatu</a>
        {% if mota == farmazia %}
            <br/><a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu</a>
        {% endif %}
        {% if mota == admin %}
            <a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu</a><br/>
            <a href="/farmaciapp/aukera_menua/erabiltzaile_menua/">Erabiltzaileak Kudeatu</a><br/>
        {% endif %}
        </div>

        <br/><br/>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <form id="ensaioak_kontsultatu" method="post" action="/farmaciapp/aukera_menua/ensaio_kontsulta/">
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" name="ensaioak_kontsultatu_botoia" value="Ensaioak Kontsultatu"/>
           
        </form><br/><br/>

        <form id="errezeta pendienteak kontsultatu" method="post" action="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" name="errezeta_pendienteak_kontsultatu_botoia" value="Errezeta Pendienteak Kontsultatu"/>

            <br/><br/>(((AUKERA HONETAN, DEPENDE ERABILTZAILEA FARMAZEUTIKOA DEN EDO MEDIKUA DEN, FUNTIONALITATE DESBERDINAK EGONGO DIRA. FARMAZIAKOA BADA, ERREZETAN DAGOEN INFORMAZIOA EZINGO DU MODIFIKATU, BAKARRIK AZKEN ATALEAN INFORMAZIO BEHARREZKOA GEHITU; MEDIKUA BADA, EZINGO DU FARMAZIAKOAK BETE BEHARREKO ATALA GEHITU, BAINA BAI GAINONTZEKO DATUAK MODIFIKATU.))).
           
        </form><br/><br/>
        {% if mota == farmazia %}

        <form id="medikamentuak_kontsultatu" method="post" action="/farmaciapp/aukera_menua/medikamentu_kontsulta/">
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" name="medikamentuak_kontsultatu_botoia" value="Medikamentuak Kontsultatu"/>
           
        </form><br/><br/>

        
        {% endif %}

        {% if mota == admin %}

        <form id="medikamentuak_kontsultatu" method="post" action="/farmaciapp/aukera_menua/medikamentu_kontsulta/">
            {% csrf_token %}
            <input class="btn btn-lg btn-primary" type="submit" name="medikamentuak_kontsultatu_botoia" value="Medikamentuak Kontsultatu"/>
           
        </form><br/><br/>

        <input class="btn btn-lg btn-primary" type=button name="botonErabiltzaileakKudeatu" onClick="location.href='/farmaciapp/aukera_menua/erabiltzaile_menua/'" value='Erabiltzaileak Kudeatu'>


        {% endif %}

         </div>

    
           
        </div></div>
        

    </body>
</html>