<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Errezeta Berria</title>
    </head>

    <body>
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/farmaciapp/">FARMACIAPP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/farmaciapp/">Hasiera</a></li>
                <li><a href="/farmaciapp/logout/">Sesioa itxi</a><br/></li>

            </ul>
        </div></div></div>

            <div class="container-fluid">
        <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
        <h3>Erabiltzailea: {{ user.username }}</h3>
        <li><a href="/farmaciapp/aukera_menua/ensaio_kontsulta/">Ensaioak Kontsultatu</a></li>
        <li><a href="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">Errezeta Pendienteak Kontsultatu</a></li>
        {% if mota == farmazia %}
            <li><a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu</a></li>
        {% endif %}
        <li><a href="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">Atzera</a></li>
        <li><a href="/farmaciapp/aukera_menua">Hasiera</a></li>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <!--{% if mota == farmazia %}-->
        <br/><br/>

        {% if sortuta %}
        Errezeta ondo sortu da!<br/><br/>
        {% else %}

        <form id="errezeta_sortu" method="post" action="/farmaciapp/aukera_menua/errezeta_sorkuntza/" enctype="multipart/form-data">
            {% csrf_token %}

            {{ errezeta_form.as_p }}

            <input class="btn btn-primary" type="submit" name="sortu_errezeta_berria" value="Sortu Errezeta"/>
           
        </form>
        <br/>

        {% endif %}
        <!--{% endif %}-->
          {{mezua}}
        <!--<br/><br/>
        {{sortuta}}-->
        <br/><br/>
      



        <!--<input class="btn btn-primary" type=button name="botonAtzera" onClick="location.href='/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/'" value='Atzera'>
        <br/><br/>
        <input class="btn btn-primary" type=button name="botonHome" onClick="location.href='/farmaciapp/aukera_menua'" value='Hasiera'>-->



<!--anadir medicamentos botoia emoten denean, textfield-etan gordetako informazioa gorde behar denez, localstorage-en gorde daitezke, adibidez -->       

       </div></div>
        
    </body>
</html>