<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Medikamentua: {{medikamentua_ident}}</title>
    </head>

    <body>
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/farmaciapp/">FARMACIAPP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/farmaciapp/">Hasiera</a></li>
                <li><a href="/farmaciapp/logout/">Sesioa itxi</a><br/></li>

            </ul>
        </div></div></div>

            <div class="container-fluid">
        <div class="row">
               <div class="col-sm-3 col-md-2 sidebar">
        <h3>Erabiltzailea: {{ user.username }}</h3>
        <li><a href="/farmaciapp/aukera_menua/ensaio_kontsulta/">Ensaioak Kontsultatu</a></li>
        <li><a href="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">Errezeta Pendienteak Kontsultatu</a></li>
        {% if mota == farmazia %}
            <li><a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu</a></li>
        {% endif %}
        <li><a href="../..">Atzera</a></li>
        <li><a href="/farmaciapp/aukera_menua">Hasiera</a></li>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <br/><br/>

        {% if mota == farmazia %}

        Medikamentua: {{ident}}<br/><br/>

        Kit: {{kit}}<br/><br/>

        Lotea: {{lote}}<br/><br/>

        Kaduzitatea: {{kaduzitatea}}<br/><br/>

        Bidalketa Zenbakia: {{bidalketaZenbakia}}<br/><br/>

        Bidalketa Data: {{bidalketaData}}<br/><br/>

        
        <br/><br/>
        <input class="btn btn-primary" type=button name="botonMedikamentuarenEnsaioakIkusi" onClick="location.href='/farmaciapp/aukera_menua/medikamentu_kontsulta/medikamentu_bilaketa/medikamentua/{{ident}}/ensaioak/'" value='Medikamentuaren Ensaioak Ikusi'>
        <br/>

        Stock-ean dauden unitateak ikustea ere falta da (SUPOSATZEN DUT HAU VIEW-TIK EGIN BEHARKO DELA)
        <br/>

        {% endif %}

        <!--<input class="btn btn-primary" type=button name="botonAtzera" onClick="location.href='../..'" value='Atzera'>
        <br/><br/>
        <input class="btn btn-primary" type=button name="botonHome" onClick="location.href='/farmaciapp/aukera_menua'" value='Hasiera'>-->
        <br/><br/>
        

        </div></div>
    </body>
</html>