<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="http://getbootstrap.com/favicon.ico">
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Errezeta Berria</title>


        {% load staticfiles %}
        <script src="{% static "js/jquery-1.11.1.js" %}"></script>
        <script src="{% static "js/alertify.min.js" %}"></script>
        <!-- include the core styles -->
        <link rel="stylesheet" href="{% static "js/alertify.core.css" %}" />
        <!-- include a theme, can be included into the core instead of 2 separate files -->
        <link rel="stylesheet" href="{% static "js/alertify.default.css" %}" />
        <script>

           
            function konfirmazioa(form_id){
                   alertify.confirm("Ziur al zaude erabakiarekin?", function (e) {

                if (e) {
                    
                    document.getElementById(form_id).submit();
                    
                } else {

                    //return false;
                    // user clicked "cancel"

                }
                });
                   
                   
            }


        </script>

        
    </head>

    <body>
          <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/farmaciapp/">FARMACIAPP</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/farmaciapp/">Hasiera<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                <li><a href="/farmaciapp/logout/">Sesioa itxi<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a><br/></li>

            </ul>
        </div></div></div>

            <div class="container-fluid">
        <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
        <h3>Erabiltzailea: {{ user.username }}</h3>
        <h4>Zerbitzua: {{mota}}</h4><br/>
        <a href="/farmaciapp/aukera_menua/ensaio_kontsulta/">Ensaioak Kontsultatu  <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
        <br/><a href="/farmaciapp/aukera_menua/errezeta_pendienteak_kontsultatu/">Errezeta Pendienteak Kontsultatu  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="badge">{{pendienteak}}</span></a>
        {% if mota == farmazia %}
            <br/><a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        {% endif %}
        {% if mota == admin %}
            <a href="/farmaciapp/aukera_menua/medikamentu_kontsulta/">Medikamentuak Aztertu  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a><br/>
            <a href="/farmaciapp/aukera_menua/erabiltzaile_menua/">Erabiltzaileak Kudeatu  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a><br/>
        {% endif %}


        <br/><br/><a href="/farmaciapp/aukera_menua/ensaio_kontsulta/ensaio_bilaketa/ensaioa/{{titulua}}/errezeta_berria_botoia/">Atzera  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
        
        <br/><a href="/farmaciapp/aukera_menua">Hasiera <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        
        <br/><br/>

        {% if erregistratuta %}
        
        <div class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span class="sr-only">Informazioa: </span>
            Pazientea ondo erregistratu da!
        </div>

        {% else %}

        

        <form id="paziente_berria_sortu" method="post" action="/farmaciapp/aukera_menua/errezeta_sorkuntza/paziente_berria/" enctype="multipart/form-data">
            {% csrf_token %}

            {{ paziente_form.as_p }}
            <input type="hidden" name="eratorpena" value="{{eratorpena}}">
            <input type="hidden" name="ensaioa" value="{{ensaioa}}">


            <input class="btn btn-primary" type=button onclick="konfirmazioa('paziente_berria_sortu')" name="sortu_paziente_berria" value="Erregistratu Pazientea"/>
           
        </form>

        <br/><br/>

        {% endif %}

       </div></div>

        
    </body>
</html>